
# Editor files
.idea

# Dependency directories
-git
node_modules
bower_components

# Temporary files
.tmp

# Build files
dist
build
templates.js
/src/configFile.js

# Logs
logs
*.log

# Runtime data
pids
*.pid
*.seed
.DS_Store

# node-waf configuration
.lock-wscript