/*------------------------------------*\

		_components.section-title
    Created by krisztinavajda on 25/01/16.
\*------------------------------------*/

.section-title {
	margin: 80px auto;

	position: relative;

	font-size: 80px;
	font-weight: 100;
	letter-spacing: 3px;
	color: $color-gray;

	&:before {
		content: '';
		width: 55px;
		height: 5px;

		position: absolute;
		bottom: -10px;
		left: 5px;

		background: lighten($color-brand, 20%);
	}



	//Variations
	&.light {
		color: white;

		&:before {
			background: white;
		}
	}
}