/*------------------------------------*\

		_components.skills
    Created by krisztinavajda on 02/02/16.
\*------------------------------------*/

$border-rad: 5px;

.skills {
	width: 80%;
	max-width: 960px;
	margin: auto;

	position: relative;
}

.chart__legends {
	height: 100%;
	margin: auto;

	position: absolute;
	top: 0;
	left: 0;
	right: 0;
}

.chart__legend {
	display: block;
	width: 25%;
	padding: 0px 4px 4px 0;

	position: absolute;
	bottom: 0;

	border-right: 1px solid white;

	color: white;
	line-height: 1;
	text-align: center;
	font-weight: 500;

	&.l--25   { left: 0; }
	&.l--50   { left: 25%; }
	&.l--75   { left: 50%; }
	&.l--100  { left: 75%; }
}

.lines {
	height: 100%;
	margin: auto;

	position: absolute;
	top: 0;
	left: 0;
	right: 0;
}

.line {
	width: 2px;
	height: inherit;

	position: absolute;

	background: rgba(#eee, 0.6);

	&.l--25   { left: 25%; }
	&.l--50   { left: 50%; }
	&.l--75   { left: 75%; }
	&.l--100  { left: calc(100% - 1px); }
}

.line__label {
	display: block;
	width: 100px;

	position: absolute;
	bottom: -20px;
	right: -50px;
	z-index: 20;

	text-align: center;
	color: white;
}

.charts {
	margin: auto;
	padding-bottom: 40px;
	position: relative;
}

.chart {
	margin: 30px 0 0;

	&:first-child {
		margin: 0;
	}
}

.chart__title {
	display: block;
	margin: 0 0 10px;

	@include inuit-font-size($inuit-heading-size-4);
	font-weight: bold;
	color: white;

	opacity: 0;

	//Animation and timing

	.skills--is-active & {
		animation: 1s anim-lightspeed-in ease forwards;
	}

	.chart--prod & {
		animation-delay: 3s;
	}
	.chart--design & {
		animation-delay: 4.2s;
	}
}

.chart--horiz {
	overflow: hidden;
}

.chart__bar {
	height: 30px;
	margin-top: 10px;

	background: white;
	border-top-right-radius: $border-rad;
	border-bottom-right-radius: $border-rad;

	opacity: 0;

	&:first-child {
		margin-top: 0;
	}

	//Animation and timing
	.skills--is-active & {
		animation: 1s anim-lightspeed-in ease forwards;
	}

	.chart--dev & {
		@include stagger-anim-delay(9, .5s, 0.2s);
	}
	.chart--prod & {
		@include stagger-anim-delay(3, 3.5s, 0.2s);
	}
	.chart--design & {
		@include stagger-anim-delay(3, 4.7s, 0.2s);
	}
}

.chart__label {
	padding-left: 10px;
	line-height: 30px;
	color: $color-tomato;
}


//Keyframes
@keyframes anim-lightspeed-in {
	0%   {
		transform: translateX(-200%);
		opacity: 1;
	}
	100% {
		transform: translateX(0);
		opacity: 1;
	}
}