/*------------------------------------*\

		_components.nav-inline
    Created by krisztinavajda on 15/01/16.
\*------------------------------------*/

.nav-block {
	$spacing: $inuit-base-spacing-unit;

	position: fixed;
	top: $spacing;
	left: $spacing;
	z-index: 10;

	li {
		margin-top: $inuit-base-spacing-unit;
		list-style-type: none;
		font-weight: 400;

		&:first-child {
			margin-left: 0;
		}

		a {
			color: white;
			text-decoration: none;
		}
	}
}