/*------------------------------------*\

		_components.section-title
    Created by krisztinavajda on 25/01/16.
\*------------------------------------*/

.section-title {
	margin: 80px 0 80px 40px;

	position: relative;

	@include inuit-font-size(90px);
	color: white;

	&:before {
		content: 'What I can';

		position: absolute;
		top: -25px;
		left: -30px;

		@include inuit-font-size(30px);
		font-weight: 100;
	}



	//Variations
	&.light {
		color: white;

		&:before {
			background: white;
		}
	}
}