/*------------------------------------*\

		_components.intro.scss
    Created by krisztinavajda on 14/01/16.
\*------------------------------------*/

//.section--intro {
//	height: 100%;
//	min-height: 300vh;
//	margin: auto;
//}

.scroll-deck {
  &.scroll-deck1,
  &.scroll-deck2 {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%; // set width to auto center
    height: 100vh;
    padding: 0;

    //position: fixed; // set position to fixed to prevent jump
  }

}

.intro__pinned-header {
	display: inline-block;
	margin: 0;
	padding: 0;

	position: relative;

	color: white;

	span {
		display: block;
		position: relative;
		opacity: 0; //this needs to be there so text doesn't show on initial load, before js loads
		backface-visibility: hidden;
	}
}

.anim--header-hi {
  //opacity: 0;
  animation: arrive-hi 0.5s ease 1s backwards;
}

@keyframes arrive-hi {
	from {
		left: 0;
		opacity: 0;
		transform: translate3d(-20px, 0, 0);
	}
	to {
		opacity: 1;
		transform: translate3d(0, 0, 0);
	}
}
