/*------------------------------------*\

		_components.mouse-scroll
    Created by krisztinavajda on 25/01/16.
\*------------------------------------*/

.mouse-scroll {
	width: 25px;
	margin: auto;

	position: fixed;
	bottom: $inuit-base-spacing-unit;
	left: 0;
	right: 0;

	opacity: 1;
	transition: opacity .5s;

	.stroke {
		stroke: $color-gray;
	}
	.scroller {
		fill: $color-gray;
		animation: updown 2s infinite;
	}
}

@keyframes updown {
	0% {
		transform: translate(0, 0)
	}
	50% {
		transform: translate(0, 5px)
	}
	100% {
		transform: translate(0, 0)
	}
}