/*------------------------------------*\

		_components.intro.scss
    Created by krisztinavajda on 14/01/16.
\*------------------------------------*/

.section--intro {
	height: 100%;
	min-height: 300vh;
	margin: auto;
}

.intro__pinned-h1 {
	display: inline-block;
	margin: 0;
	padding: 0;

	position: relative;

	color: white;

	span {
		display: block;
		position: relative;
		opacity: 0; //this needs to be there so text doesn't show on initial load, before js loads
		backface-visibility: hidden;
	}
}

.pin--h1-hi {
  position: fixed !important; //fixes jumping issue in Safari
}

#anim--h1-hi {
  opacity: 1;
  animation: arrive-hi 1s 1s ease backwards;

  //Todo: add inview & isloaded check
  //.isLoaded &{
  //  opacity: 1;
  //  transform: translate3d(0, 0, 0);
  //}
}

@keyframes arrive-hi {
	from {
		left: 0;
		opacity: 0;
		transform: translate3d(-20px, 0, 0);
	}
	to {
		opacity: 1;
		transform: translate3d(0, 0, 0);
	}
}
