/*------------------------------------*\

		_hamburger
    Created by krisztinavajda on 25/01/16.
\*------------------------------------*/

$color: white;
$color-hover: $color-gray;

$height-icon: 26px;
$width-line: 40px;
$height-line: 2px;

$transition-time: 350ms;
$rotation: 45deg;
$translateY: ($height-icon / 2);
$translateX: 0;

$spacing: $inuit-base-spacing-unit;

.hamburger-icon {
	display: block;
	width: $width-line;
	height: $height-icon;

	position: fixed;
	top: $spacing;
	left: $spacing;
	z-index: 20;

	transition: all $transition-time;

	.line {
		display: block;
		width: $width-line;
		height: $height-line;

		position: absolute;
		left: 0;

		background: $color;
		box-shadow: 0 0 5px 2px rgba(darken($color-brand, 8%), 0.25);

		transition: all $transition-time;

		&.line-1 {
			top: 0;
			transform-origin: center center;
		}
		&.line-2 {
			top: 50%;
		}
		&.line-3 {
			transform-origin: center center;
			top: 100%;
		}
	}
	.no-touch &:hover {
		.line {
			background: $color-hover;
		}
	}
	&:hover, &:focus {
		.line-1 {
			transform: translateY($height-line / 2 * -1);
		}
		.line-3 {
			transform: translateY($height-line / 2);
		}
	}
	&.active {
		left: 15px;
		.line-1 {
			transform: translateY($translateY) translateX($translateX) rotate($rotation);
		}
		.line-2 {
			opacity: 0;
		}
		.line-3 {
			transform: translateY($translateY * -1) translateX($translateX) rotate($rotation * -1);
		}
	}
}