/*------------------------------------*\

		_components.logo
    Created by krisztinavajda on 15/01/16.
\*------------------------------------*/

.logo {
	.logo__tag {
		font-size: 28px;
		color: darken($color-brand, 12%);
		font-weight: 700;
		letter-spacing: 3px;
		text-transform: uppercase;
	}
}