/*------------------------------------*\

		_components.work
    Created by krisztinavajda on 15/02/16.
\*------------------------------------*/

.section--work {
	padding-bottom: 30vh;
	position: relative;
	z-index: 10;
}

.work {
	font-size: 0;
}

.work-block {
	display: inline-block;
	width: calc(20% - 10px);
	height: 400px;
	margin: 5px;

	position: relative;

	vertical-align: top;

	&:nth-child(even) {
		margin-top: $inuit-base-spacing-unit--large;
		margin-bottom: -$inuit-base-spacing-unit--large;
	}

	@include media-query(portable) {
		width: calc(33.33% - 10px);

		&:nth-child(even) {
			margin-top: 5px;
			margin-bottom: 5px;
		}
		&:nth-child(3n+2) {
			margin-top: $inuit-base-spacing-unit--large;
			margin-bottom: -$inuit-base-spacing-unit--large;
		}
	}

	@include media-query(palm) {
		margin: 0;
		margin-top: 20px;
		width: 100%;

		&:first-child {
			margin-top: 0;
		}

    &:nth-child(even),
    &:nth-child(3n+2) {
			margin-top: 20px;
			margin-bottom: 0;
		}
	}

	&.bonus {
		background: $color-brand;

		.work-block__title {
			margin: 0;
			color: white;
		}
	}
}

.work-block__figure {
	height: inherit;

	background: $color-gray;
	overflow: hidden;

	transition: 300ms ease;

	.no-touch .work-block:hover & {
		background: white;

		.work-block__title {
			margin-top: 8px;

			&.long-text {
				margin-top: 0;
			}
		}
		.work-block__desc {
			opacity: 0;
		}
		.work-block__c2a {
			opacity: 1;
			transform: translate3d(-50%, -50%, 0) scale(1);
		}
	}

	figcaption {
		padding: $inuit-base-spacing-unit--small;

		position: absolute;
		top: 0;
		left: 0;
		bottom: 0;
		right: 0;

		transition: inherit;
	}
}
.work-block__title {
	margin-top: 20px;

	color: $color-tomato;
	text-align: center;
	text-transform: uppercase;
	font-weight: 600;

	transition: inherit;

	@include media-query(portable) {
		@include inuit-font-size($inuit-base-font-size);
	}
}
.work-block__desc {
	margin-top: 20px;
	color: $color-gray;
	@include inuit-font-size(14px);

	transition: inherit;
}
.work-block__c2a {
	position: absolute;
	top: 50%;
	left: 50%;

	border-color: transparent;
	background: $color-tomato;

	color: white;

	opacity: 0;
	transform: translate3d(-50%, -50%, 0) scale(0);
	transition: inherit;

	.no-touch {
		box-shadow: 0 1px 2px rgba(0,0,0,0.15);

		&:before {
			content: '';
			box-shadow: 0 0 30px rgba(0, 0, 0, 0.3);
		}
	}

}

.work-block__img {
	width: 100%;
	height: 100%;

	position: absolute;
	top: 0;
	left: 0;

	background-repeat: no-repeat;
	background-size: cover;
	background-position: center top;

	opacity: .25;
	transition: inherit;

	.no-touch .work-block:hover & {
		opacity: 0.9;
	}
}

.work-block__shape {
	height: 101%;
	width: 101%;

	position: relative;
	top: -1px;
	left: -1px;
	fill: rgba(white, .95);

	transition: inherit;

	.work-block:hover & {
		height: 100px;
	}
}

//Another version for touch devices
.touch {

	.work-block__figure {
		height: auto;

		figcaption {
			padding-top: 50px;
			position: absolute;
			bottom: 0;
			top: auto;

			overflow: hidden;
			transform: none;
			z-index: 1;

			&:before {
				content: '';

				$pos: -30%;
				position: absolute;
				top: 35px;
				left: $pos;
				bottom: $pos;
				right: $pos;
				z-index: -1;

				background: rgba(white, .95);
				transform: rotate(-10deg);
			}
		}
	}

	.work-block__c2a {
		padding: 5px 0 0;

		position: relative;
		top: 0;
		left: 0;
		transform: none;

		background: none;

		color: $color-tomato;
		opacity: 1;
	}

	.work-block__img {
		opacity: 1;
	}

	.work-block__shape {
		display: none;
	}
}
