/*------------------------------------*\

		_components.skills
    Created by krisztinavajda on 02/02/16.
\*------------------------------------*/

//.section--skills {
//	position: relative;
//
//	&:before,
//	&:after {
//		content: '';
//		position: absolute;
//
//		width: 0;
//		height: 0;
//		border-style: solid;
//	}
//
//	&:before {
//		top: 0;
//		left: 0;
//		border-width: 60vh 40vw 0 0;
//		border-color: rgba(#01879F, 1) transparent transparent transparent;
//	}
//
//	&:after {
//		bottom: 0;
//		right: 0;
//		border-width: 0 0 60vh 40vw;
//		border-color: transparent transparent rgba(#01879F, 1) transparent;
//	}
//}

.skills {
	width: 80%;
	max-width: 960px;
	margin: auto;

	position: relative;


	box-shadow: 0 15px 20px 10px rgba(50, 50, 50, 0.2);
	padding: 30px;
	background: white;
	border-radius: 5px;

	&:after {
		content: '';
		width: 100%;
		height: 40px;

		position: absolute;
		bottom: 0;
		left: 0;

		background: $color-gray;
		border-bottom-right-radius: 5px;
		border-bottom-left-radius: 5px;
	}
}

.lines {
	width: calc(100% - 120px);
	height: calc(100% - 15px);
	margin: auto;

	position: absolute;
	top: 0;
	left: 0;
	right: 0;
}

.line {
	width: 2px;
	height: inherit;

	position: absolute;

	background: rgba(#eee, 0.6);

	&.l--0    { left: 0; }
	&.l--25   { left: 25%; }
	&.l--50   { left: 50%; }
	&.l--75   { left: 75%; }
	&.l--100  { left: calc(100% - 1px); }
}

.line__label {
	display: block;
	width: 100px;

	position: absolute;
	bottom: -20px;
	right: -50px;
	z-index: 20;

	text-align: center;
	color: white;
	
	&.title {
		text-transform: uppercase;
		font-weight: bold;
	}
}

.charts {
	width: calc(100% - 60px);
	margin: auto;
	padding-bottom: 40px;
	position: relative;
}

.chart {
	margin: 30px 0 0;

	&:first-child {
		margin: 0;
	}
}

.chart__title {
	display: block;
	margin: 0 0 10px;

	@include inuit-font-size($inuit-heading-size-4);
	font-weight: bold;
	//color: white;

	opacity: 0;

	//Animation and timing
	animation: 1s anim-lightspeed-in ease forwards;

	.chart--prod & {
		animation-delay: 3s;
	}
	.chart--design & {
		animation-delay: 4.2s;
	}
}

.chart--horiz {
	overflow: hidden;
}

.chart__bar {
	$border-rad: 4px;
	height: 30px;
	margin-top: 10px;

	background: linear-gradient(to left, #4CB8C4, #3CD3AD);
	background: linear-gradient(to left, #614385 , #516395);
	border-radius: 20px;
	opacity: 0;

	&:first-child {
		margin-top: 0;
	}

	//Animation and timing
	animation: 1s anim-lightspeed-in ease forwards;

	.chart--dev & {
		@include stagger-anim-delay(9, .5s, 0.2s);
	}
	.chart--prod & {
		@include stagger-anim-delay(3, 3.5s, 0.2s);
	}
	.chart--design & {
		@include stagger-anim-delay(3, 4.7s, 0.2s);
	}
}

.chart__label {
	padding-left: 10px;
	line-height: 30px;
	color: white;
}


//Keyframes
@keyframes anim-lightspeed-in {
	0%   {
		transform: translateX(-200%);
		opacity: 1;
	}
	100% {
		transform: translateX(0);
		opacity: 1;
	}
}