/*------------------------------------*\

		_components.section-title
    Created by krisztinavajda on 25/01/16.
\*------------------------------------*/

.section-title {
	padding: 80px 0 80px 40px;

	position: relative;

	@include inuit-font-size(90px);
	color: white;

	&:before {
		content: attr(data-subtitle);

		position: absolute;
		top: 55px;
		left: 0px;

		@include inuit-font-size(30px);
		font-weight: 100;
	}



	//Variations
	.full-width & {
		padding: 80px 0 80px 60px;

		&:before {
			left: 20px;
		}
	}

	&.light {
		color: white;

		&:before {
			background: white;
		}
	}
}