/*------------------------------------*\

		_components.cards
    Created by krisztinavajda on 25/01/16.
\*------------------------------------*/

.cards {
	font-size: 0;
	text-align: center;
}

.card {
	display: inline-block;
	width: 25%;
	min-width: 300px;
	height: 300px;
	margin: auto;

	position: relative;

	background: $color-brand;
	background-size: cover;
	background-position: center center;
	background-repeat: no-repeat;

	text-align: left;

	@include media-query(portable) {
		width: 50%;
	}
	@include media-query(palm) {
		width: 100%;
		max-width: 100%;
	}

	&:hover {
		&:before {
			background: linear-gradient(to top, $gradient-crimson, $gradient-tomato);
			opacity: .5;
		}
		.card__body {
			opacity: 1;
			transform: translate3d(0, 0, 0);
		}
	}

	&:before {
		content: '';
		@include position(absolute, 0);

		background: linear-gradient(to top, rgba(37,141,200,1), rgba(104,60,19,1));
		opacity: .1;
		transition: all 350ms;
	}
}

.card__title {
	padding: $inuit-base-spacing-unit--large;

	position: absolute;
	top: 0;
	left: 0;

	@include inuit-font-size($inuit-heading-size-4);
	font-weight: bold;
	color: white;
}

.card__body {
	padding: $inuit-base-spacing-unit--large $inuit-base-spacing-unit--large $inuit-base-spacing-unit;

	@include position(absolute, null 0 $inuit-base-spacing-unit);

	@include inuit-font-size(16px);
	font-weight: 400;
	color: white;

	opacity: 0;
	transform: translate3d(0, -50px, 0);
	transition: opacity 350ms, transform 350ms;
}