/*------------------------------------*\

		_components.landing
    Created by krisztinavajda on 08/01/16.
\*------------------------------------*/

.landing {
	position: relative;

	box-shadow: 0px 2px 8px 0px rgba(50, 50, 50, 0.4);
	color: white;
	text-align: center;

	@include media-query(lap-and-up) {
		height: 70vh;
	}

	&:before {
		content: '';
		width: 100%;
		height: inherit;
		@include position(absolute, 0 null null 0);
		z-index: -1;

		$color1: $gradient-crimson;
		$color2: $gradient-tomato;

		background: linear-gradient(to top, $color1 , $color2);
		opacity: 0.9;

		@include media-query(palm) {
			height: 100%;
		}
	}
}

	.landing__content {
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: center;

		height: 100%;
		padding: $inuit-base-spacing-unit;

		@include media-query(lap-and-up) {
			padding: 0 20px;
		}
	}

		.landing__title {
			margin-bottom: $inuit-base-spacing-unit;
			font-size: 34px;

			@include media-query(lap-and-up) {
				margin-bottom: 10vh;
				font-size: 60px;
			}
		}

		.landing__subtitle {
			font-size: 18px;
			font-weight: 300;

			@include media-query(lap-and-up) {
				font-size: 36px;
			}
		}
