/*------------------------------------*\

		_components.footer
    Created by krisztinavajda on 25/01/16.
\*------------------------------------*/

footer {
	max-width: $section-max-width;
	margin: auto;

	.section-title {
		padding-bottom: 0;
		color: $color-text-dark;
	}

	.social-icons {
		justify-content: space-between;
	}
}