/*------------------------------------*\

		_components.nav-inline
    Created by krisztinavajda on 15/01/16.
\*------------------------------------*/

$spacing: $inuit-base-spacing-unit;

.brand {
	margin-top: 0;

	position: fixed;
	top: $spacing;
	left: $spacing;
	z-index: 90;

	@include inuit-font-size(18px);
	font-weight: 700;
	letter-spacing: 0.05rem;
	text-transform: uppercase;
	color: white;

	opacity: 1;
	cursor: pointer;

  .no-touch &,
  .touch {
    display: none;
  }
}

.nav-block {
	position: fixed;
	top: 50px;
	left: $spacing;
	z-index: 90;

	a {
    display: inline-block;
		color: white;
		text-decoration: none;
    padding: 0px 4px;
    background: rgba($color-gray-ui, 0.3);
	}
}
.nav-block__item {
	margin-top: $inuit-base-spacing-unit;

	list-style-type: none;
	font-weight: 400;

	opacity: 0;
	visibility: hidden;
	user-select: none;

	transform: translate3d(-10px, 0, 0);
	transition: 350ms ease;
	@include stagger-delay(5, 0s, 0.07s, transition);

	.active & {
		opacity: 1;
		visibility: visible;
		user-select: initial;
		transform: translate3d(0, 0, 0);
	}

	.no-touch &:hover {
		transform: translate3d(5px, 0, 0);
		transition-delay: 0s;
	}
}
