/*------------------------------------*\

		_components.nav-inline
    Created by krisztinavajda on 15/01/16.
\*------------------------------------*/

.nav-block {
	$spacing: $inuit-base-spacing-unit;

	position: fixed;
	top: $spacing;
	left: $spacing;
	z-index: 90;

	li {
		margin-top: $inuit-base-spacing-unit;
		list-style-type: none;
		font-weight: 400;
		opacity: 0;
		transition: 350ms ease;

		&:hover {
			opacity: 1;
		}

		&.brand {
			margin-top: 0;

			@include inuit-font-size(18px);
			font-weight: 700;
			letter-spacing: 0.05rem;
			text-transform: uppercase;
			color: white;

			opacity: 1;
			cursor: pointer;
		}

		a {
			color: white;
			text-decoration: none;
		}
	}
}