/*------------------------------------*\

		_components.mouse-scroll
    Created by krisztinavajda on 25/01/16.
\*------------------------------------*/

$elemColor: white;

.info-scroll {
	position: fixed;
	bottom: $inuit-base-spacing-unit--large;
	left: 0;
	right: 0;
	z-index: 20;
}

.info-scroll__mouse {
	display: block;
	width: 25px;
	margin: auto;

	opacity: 1;
	transition: opacity .5s;

	.stroke {
		stroke: $elemColor;
	}
	.scroller {
		fill: $elemColor;
		animation: updown 1.9s infinite;
	}
}

.info-scroll__arrow {
	display: block;
	width: 25px;
	height: 15px;
	margin: auto;
	padding-top: 5px;

	animation: updown 1.9s infinite;

	.arrow {
		fill: $elemColor;
	}
}

@keyframes updown {
	0% {
		transform: translate(0, 0)
	}
	50% {
		transform: translate(0, 5px)
	}
	100% {
		transform: translate(0, 0)
	}
}