/*------------------------------------*\

		_trumps.transitioner-deck
    Created by krisztinavajda on 25/01/16.
\*------------------------------------*/

.transitioner-deck--intro {
	max-width: none;
	min-height: 120vh;
	background-color: $gradient-crimson;
	//border-bottom: 5px solid yellow;
}