<div class="info-scroll" id="anim--info-scroll">
    <svg class="info-scroll__mouse" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" version="1.1" x="0px" y="0px" viewBox="0 0 25.166666 37.8704414" enable-background="new 0 0 25.166666 37.8704414" xml:space="preserve">
        <path class="stroke" fill="none" stroke="#c7c4b8" stroke-width="2.5" stroke-miterlimit="10" d="M12.5833445 36.6204414h-0.0000229C6.3499947 36.6204414 1.25 31.5204487 1.25 25.2871208V12.5833216C1.25 6.3499947 6.3499951 1.25 12.5833216 1.25h0.0000229c6.2333269 0 11.3333216 5.0999947 11.3333216 11.3333216v12.7037992C23.916666 31.5204487 18.8166714 36.6204414 12.5833445 36.6204414z"></path>
        <path class="scroller" fill="#c7c4b8" d="M13.0833359 19.2157116h-0.9192753c-1.0999985 0-1.9999971-0.8999996-1.9999971-1.9999981v-5.428606c0-1.0999994 0.8999987-1.9999981 1.9999971-1.9999981h0.9192753c1.0999985 0 1.9999981 0.8999987 1.9999981 1.9999981v5.428606C15.083334 18.315712 14.1833344 19.2157116 13.0833359 19.2157116z"></path>
    </svg>
    <svg class="info-scroll__arrow" xmlns="http://www.w3.org/2000/svg" version="1.1" x="0" y="0" width="320" height="192" viewBox="327 -71 320 192" enable-background="new 327 -71 320 192" xml:space="preserve"><polygon class="arrow" points="627.6 -71 647 -50.3 487 121 327 -50.3 346.3 -71 487 79.5 "/></svg>
</div>

<section class="intro full-width">
    <div class="deck deck1">
        <h1 class="intro__pinned-h1 pin--h1-hi centered">
            <span id="anim--h1-hi">Hi.</span>
        </h1>
    </div>
    <div class="deck deck2">
        <h1 class="intro__pinned-h1 pin--h1-intro centered">
            <span id="anim--h1-intro">My <br>name is <br>Krisztina.</span>
        </h1>
    </div>
    <div class="deck deck3">
        <h1 class="intro__pinned-h1 pin--h1-job centered">
            <span id="anim--h1-job">I'm a <br>front-end<br>developer.</span>
        </h1>
    </div>
</section>

<section class="transitioner-deck--intro" id="anim--intro-transition"></section>

<section class="me">
    <h1>This is me.</h1>
    <h1>photo</h1>
</section>

<section class="section--skills">
    <h1 class="section-title">Skills</h1>
    <div class="skills">
        <ul class="lines">
            <li class="line l--0">
      <span class="line__label title">
        Skill level:
      </span>
            </li>
            <li class="line l--25">
      <span class="line__label">
        The basics
      </span>
            </li>
            <li class="line l--50">
      <span class="line__label">
        Advanced
      </span>
            </li>
            <li class="line l--75">
      <span class="line__label">
        Seasoned
      </span>
            </li>
            <li class="line l--100">
      <span class="line__label">
        Expert
      </span>
            </li>
        </ul>

        <div class="charts">
            <div class="chart chart--dev">
                <span class="chart__title">Development</span>
                <ul class="chart--horiz">
                    <li class="chart__bar"
                        ng-repeat="skill in skills.dev"
                        ng-style="{'width': skill.level + '%'}"><span class="chart__label">{{skill.name}}</span></li>
                </ul>
            </div>

            <div class="chart chart--prod">
                <span class="chart__title">Productivity</span>
                <ul class="chart--horiz">
                    <li class="chart__bar"
                        ng-repeat="skill in skills.prod"
                        ng-style="{'width': skill.level + '%'}"><span class="chart__label">{{skill.name}}</span></li>
                </ul>
            </div>

            <div class="chart chart--design">
                <span class="chart__title">Design</span>
                <ul class="chart--horiz">
                    <li class="chart__bar"
                        ng-repeat="skill in skills.design"
                        ng-style="{'width': skill.level + '%'}"><span class="chart__label">{{skill.name}}</span></li>
                </ul>
            </div>
        </div>
    </div>
</section>

<section class="about">
    <h1 class="section-title">Interests</h1>
    <div class="cards">
        <div class="card"
             ng-repeat="fact in facts"
             style="background-image: url('{{fact.img}}');">

            <h2 class="card__title">{{fact.title}}</h2>
            <p class="card__body">{{fact.desc}}</p>

        </div>
    </div>
</section>